.array-container{
position: absolute;
left: 100px;
}

.array-bar{
    width: 2px;
     background-color:purple;
     display: inline-block;
     margin: 0px 1px;
}

.action-button{
     margin: 0px 10px;
}

button:hover{
     background-color: green;
     color: white;
}